  <h1>Votre Payment</h1>
        <div class="services-box-1 wow fade-in-bottom" data-wow-duration="1.5s">
<!-- /.services-thumb -->
            <h4>Hotel:{{ res.idReservation.idhotel.nomh }}</h4>
            <p>
                Montant : {{res.somme }}<br>
                Type : {{res.type }}<br>


            </p>

        </div>


