{% extends 'back.html.twig' %}

{% block title %}Edit Offre{% endblock %}

{% block body %}
<div class="content-body">
    <div class="container-fluid">
    <h1>Edit Offre</h1>

      {{ include('offre/_form.html.twig', {'button_label': 'Update'}) }}

        <button class="btn-google"> <a href="{{ path('app_offre_index') }}">Afficher</a></button>
    </div>
</div>

{% endblock %}
