

{% block body %}
    <h1 align = "center" >Liste des offres</h1>


            <div class="row">
                <div class="col-lg-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-responsive-md">
                                    <thead>
                                    <tr>
                                        <th style="width:80px;"><strong>#</strong></th>
                                        <th><strong>IdOf</strong></th>
                                        <th><strong>NomOffre</strong></th>
                                        <th><strong>Budget</strong></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for offre in offres %}
                                    <tr>
                                        <td>  <a class="dropdown" href=""></a></td>
                                        <td>{{ offre.idOf }}</td>
                                        <td>{{ offre.nomOffre }}</td>
                                        <td>{{ offre.budget }}</td>


                                    </tr>

                                    </tbody{% endfor %}>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
