<div>
    <h4 >Passenger Info</h4>
    <h6 >Passenger 1: Adult ticket</h6>
    <br>
    <br>
    <form >
        <div>
            <div>
                <label>First Name   ...................................</label>

            </div>
            <div >
                <label>Last Name   ...................................</label>
                <input >
            </div><!-- /.col-md-6 -->
            <div class="col-lg-6 rt-mb-30">
                <div class="row">
                    <div class="col-md-6">
                        <label>Date</label>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                   id="inlineRadio2s" value="option2">
                            <label class="form-check-label" for="inlineRadio2s">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                   id="inlineRadio2ss" value="option2">
                            <label class="form-check-label" for="inlineRadio2ss">Male</label>
                        </div>
                    </div><!-- /.col-md-6 -->
                    <div class="col-md-6">
                        <label for="st-date">date</label>
                        <input type="text" class="form-control rt-date-picker" placeholder="date"
                               id="st-date">
                    </div><!-- /.col-md-6 -->
                </div><!-- /.row -->
            </div><!-- /.col-md-6 -->
            <div class="col-md-6 rt-mb-30">
                <label for="select-2">ID</label>
                <select id="select-2">
                    <option value="1">Passport</option>
                    <option value="2">NID</option>
                    <option value="3">NTO</option>

                </select>
            </div><!-- /.col-md-6 -->
            <div class="col-md-6 rt-mb-30">
                <label for="id-number">ID Number</label>
                <input type="text" placeholder="ID Number" class="form-control">
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <p class="f-size-14">Please ensure the ID is valid for at least 6 months
                    after the date of departure.</p>
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </form>
</div><!-- /.flight-list-box -->
